<nav class="h-12">
	<h1 class="text-3xl p-3 text-mainPurple font-dm font-bold">BetterReads</h1>
	<div class="menu-wrap">
		<input type="checkbox" class="toggler" />
		<div class="hamburger"><div></div></div>
		<div class="menu">
			<div>
				<div>
					<ul>
						<li><a href="">Home</a></li>
						<li><a href="">About</a></li>
						<li><a href="">Contact</a></li>
						<li><a href="">Sign Up</a></li>
						<li><a href="">Login</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</nav>
