@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	height: 100%;
}

body {
	background-color: #f7dfff;
	min-height: 100%;
	color: #140024;
	display: flex;
	flex-direction: column;
}

.menu-wrap {
	position: fixed;
	/* we want it to always be at the top */
	top: 0;
	right: 0;
	z-index: 1;
}

.menu-wrap .toggler {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 2;
	cursor: pointer;
	width: 50px;
	height: 50px;
	opacity: 0;
}

.menu-wrap .hamburger {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;
	width: 60px;
	height: 60px;
	padding: 1rem;
	padding-top: 0.8rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* hamburger line, middle */
.menu-wrap .hamburger > div {
	position: relative;
	width: 100%;
	height: 2px;
	background-color: #140024;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.4s ease;
}
/* top and bottom lines */
.menu-wrap .hamburger > div:before,
.menu-wrap .hamburger > div:after {
	content: "";
	position: absolute;
	z-index: 1;
	top: -12px;
	width: 100%;
	height: 2px;
	background: inherit;
}

/* moves one of the lines down */
.menu-wrap .hamburger > div:after {
	top: 12px;
}

/* toggler animate */
.menu-wrap .toggler:checked + .hamburger > div {
	transform: rotate(135deg);
}

/* turn lines into X */
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
	top: 0;
	transform: rotate(90deg);
}

/* rotate on hover when checked */
.menu-wrap .toggler:checked:hover + .hamburger > div {
	transform: rotate(225deg);
}

/* show menu */
.menu-wrap .toggler:checked ~ .menu {
	visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu > div {
	transform: scale(1);
	transition-duration: 0.75s;
}

.menu-wrap .toggler:checked ~ .menu > div > div {
	opacity: 1;
	transition: opacity 0.4s ease;
}

.menu-wrap .menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	visibility: hidden;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}

.menu-wrap .menu > div {
	background: #4e2d74;
	border-radius: 50%;
	width: 200vw;
	height: 200vw;
	display: flex;
	flex: none;
	align-items: center;
	justify-content: center;
	transform: scale(0);
	transition: all 0.4s ease;
	opacity: 0.8;
}

.menu-wrap .menu > div > div {
	text-align: center;
	max-width: 90vw;
	max-height: 100vh;
	opacity: 0;
	transition: opacity 0.4s ease;
}

.menu-wrap .menu > div > div > ul > li {
	list-style: none;
	color: #f7dfff;
	font-size: 2rem;
	padding: 1rem;
}

.menu-wrap .menu > div > div > ul > li > a {
	color: inherit;
	text-decoration: none;
	transition: color 0.4s ease;
	font-family: "DM Serif Text", serif;
}

.menu-wrap .menu > div > div > ul > li > a:hover {
	color: #d796ff;
}

.background {
	/* background-image: url("/public/assets/mobileTopBanner.png"); */
	background-image: url("../assets/mobileTopBanner.png");
	background-size: cover;
}

.backgroundDesk {
	/* background-image: url("/public/assets/desktopTopBanner2.png"); */
	background-image: url("../assets/desktopTopBanner2.png");
	background-size: cover;
}
