<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Author Events</title>
		<%- include('../partials/head'); %>
	</head>
	<body>
		<%- include('../partials/authorNav'); %>
		<h1 class="text-3xl font-quick px-3 text-center">
			<span class="font-dm">Welcome,</span> author.firstName
		</h1>

		<main class="flex grow flex-col px-3">
			<section class="mt-3">
				<h1 class="text-2xl font-dm">My Events</h1>
				<p>It looks like you don't have any events!</p>
			</section>
			<section class="flex w-full mt-3 flex-col">
				<h1 class="text-2xl font-dm mb-1">Create a new event</h1>
				<div class="flex w-full relative px-3 flex-col items-center">
					<form
						action="/author/createEvent"
						method="post"
						name="createEvent"
						class="flex flex-col w-full gap-5">
						<div class="flex items-center gap-3">
							<label for="eventAuthor" class="font-bold">Your email:</label>
							<input
								type="text"
								id="eventAuthor"
								name="authorId"
								required
								class="w-36 rounded-lg text-lg" />
						</div>
						<div class="flex items-center gap-3">
							<label for="eventTitle" class="font-bold">Event Name:</label>
							<input
								type="text"
								id="eventTitle"
								name="eventTitle"
								required
								class="w-36 rounded-lg text-lg" />
						</div>
						<div class="flex items-center gap-3">
							<label for="eventDate" class="font-bold">Date:</label>
							<input
								type="date"
								id="eventDate"
								name="date"
								required
								class="w-40 rounded-lg px-1 text-lg" />
						</div>
						<div class="flex items-center gap-3">
							<label for="eventTime" class="font-bold">Time:</label>
							<input
								type="time"
								id="eventTime"
								name="time"
								required
								class="w-24 rounded-lg px-1 text-lg" />
						</div>
						<div>
							<label for="eventPrice" class="font-bold"
								>Does this event cost money?</label
							>
							<div id="eventPrice" class="flex gap-5">
								<div class="flex gap-1 items-center">
									<label for="eventNotFree">Yes</label>
									<input
										type="radio"
										id="eventNotFree"
										name="isFree"
										value="false" />
								</div>
								<div class="flex gap-1 items-center">
									<label for="eventFree">No</label>
									<input
										type="radio"
										id="eventFree"
										name="isFree"
										value="true" />
								</div>
							</div>
						</div>
						<div class="flex gap-3 flex-col">
							<label for="eventDescription" class="font-bold"
								>Description:</label
							>
							<textarea
								name="description"
								id="eventDescription"
								required
								cols="20"
								rows="5"
								class="md:w-1/2"></textarea>
						</div>
						<div class="flex justify-center md:justify-start">
							<input
								type="submit"
								name="submit"
								value="Create Event"
								class="w-40 bg-textPurple text-center text-backgroundPurple rounded-full px-3 py-1 text-1xl" />
						</div>
					</form>
				</div>
			</section>
		</main>
		%> <%- include('../partials/authorFooter'); %>
	</body>
</html>
