<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Author Dashboard</title>
		<%- include('../partials/head'); %>
	</head>
	<body>
		<%- include('../partials/authorNav'); %>
		<h1 class="text-3xl font-quick px-3 text-center">
			<span class="font-dm">Welcome,</span>
		</h1>
		<main class="flex grow mt-3 justify-center">
			<div class="flex w-full gap-3 px-3 items-center md:w-4/5 lg:w-1/2">
				<a href="/author/events" class="w-1/2 flex">
					<div
						class="w-full flex justify-center items-center bg-mainPurple h-48 rounded-lg shadow-xl shadow-[#593485]">
						<h2 class="text-3xl font-dm text-accentPurple1">My Events</h2>
					</div>
				</a>
				<a href="/author/books" class="w-1/2 flex">
					<div
						class="w-full flex justify-center items-center bg-accentPurple1 h-48 rounded-lg shadow-xl shadow-[#734f80]">
						<h2 class="text-3xl font-dm text-mainPurple">My Books</h2>
					</div>
				</a>
			</div>
		</main>
		<%- include('../partials/authorFooter'); %>
	</body>
</html>
