<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>BetterReads</title>
		<%- include('../partials/head'); %>
	</head>
	<body>
		<%- include('../partials/navbar'); %>
		<main class="flex flex-col grow">
			<section class="relative md:h-96 md:w-full">
				<div class="w-full h-full">
					<div class="w-full h-[278px] background md:hidden"></div>
					<div
						class="w-screen h-full backgroundDesk hidden md:block md:w-full"></div>
					<div
						class="absolute top-0 left-0 flex w-screen h-[278px] flex flex-col justify-center items-center px-5 md:h-full md:w-full">
						<h1
							class="text-backgroundPurple font-dm text-4xl text-center leading-loosest md:text-7xl">
							Find your new favorite author today
						</h1>
						<button
							class="w-48 py-1.5 shadow-2xl shadow-textPurple font-dm mt-4 text-3xl rounded-full text-accentPurple2 bg-backgroundPurple md:text-5xl md:w-64 md:py-3 md:mt-10">
							<a href="/signup">Sign Up</a>
						</button>
					</div>
				</div>
			</section>

			<section class="flex flex-col items-center">
				<div class="mt-10 text-center">
					<h2 class="font-dm text-textPurple text-2xl md:text-3xl">
						Why choose <span class="text-mainPurple">BetterReads</span>?
					</h2>
					<p class="px-6 md:text-xl md:mt-3">
						Whether you're a newly published author looking to expand their
						readership, or a reader looking for their next adventure,
						BetterReads is the site for you.
					</p>
				</div>
				<div class="flex justify-center items-center md:w-3/4">
					<div class="flex justify-center items-center md:w-1/2">
						<img
							src="/assets/desktopBookshelf.png"
							alt=""
							class="w-3/4 hidden md:block" />
					</div>
					<div
						class="flex flex-col gap-10 my-10 justify-center items-center md:w-1/2">
						<div class="flex px-5 gap-5 text-center">
							<span
								class="material-symbols-outlined text-[120px] text-mainPurple">
								auto_stories
							</span>
							<p class="px-5 md:text-xl md:px-0">
								We have <span class="font-bold">no advertising</span> on our
								site, letting you concentrate on what matters most -- the books.
							</p>
						</div>
						<div class="flex px-5 gap-3 text-center">
							<p class="px-5 md:text-xl">
								Authors can interact with their readers by posting events, such
								as book signings or Q&As, and can upload information about their
								books.
							</p>
							<span
								class="material-symbols-outlined text-[120px] text-mainPurple md:order-first">
								calendar_month
							</span>
						</div>
						<div class="flex px-5 gap-3 text-center">
							<span
								class="material-symbols-outlined text-[120px] text-mainPurple">
								groups
							</span>
							<p class="px-5 md:text-xl">
								Readers can attend events with their favorite authors and learn
								more about their books.
							</p>
						</div>
					</div>
				</div>
			</section>

			<section class="relative md:h-48 md:hidden">
				<div class="w-full h-full">
					<div class="w-full h-[180px] background md:hidden"></div>
					<div
						class="w-screen h-full backgroundDesk hidden md:block md:w-full"></div>
					<div
						class="absolute top-0 left-0 flex w-screen h-[180px] md:h-full flex flex-col justify-center items-center px-5 md:w-full">
						<h1
							class="text-backgroundPurple font-dm text-3xl text-center leading-loosest md:text-4xl">
							Ready to get started?
						</h1>
						<button
							class="w-40 py-1.5 shadow-2xl shadow-textPurple font-dm mt-4 text-2xl rounded-full text-accentPurple2 bg-backgroundPurple md:text-3xl md:w-48 md:py-3 md:mt-8">
							<a href="signup.html">Sign Up</a>
						</button>
					</div>
				</div>
			</section>
		</main>
		<footer class="bg-textPurple flex flex-col justify-center items-center">
			<div class="container flex justify-center mt-4">
				<div
					class="container text-backgroundPurple font-dm gap-1 text-center w-1/4">
					<h4><a href="/">Home</a></h4>
					<h4><a href="/about">About</a></h4>
					<h4><a href="/contact">Contact</a></h4>
				</div>
				<div
					class="container text-backgroundPurple font-dm gap-1 text-center w-1/4 flex flex-col justify-center">
					<h4><a href="/signup">Sign Up</a></h4>
					<h4><a href="/login">Login</a></h4>
				</div>
			</div>
			<div class="text-center mt-10 mb-3">
				<h1 class="text-2xl font-dm text-backgroundPurple">BetterReads</h1>
				<p class="text-[12px] font-dm text-backgroundPurple">
					Copyright &copy; 2023, All Rights Reserved
				</p>
			</div>
		</footer>
	</body>
</html>
