<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>BetterReads</title>
		<link rel="stylesheet" href="/css/landingPage.css" />
		<link rel="stylesheet" href="/css/main.css" />
	</head>
	<body>
		<%- include('../partials/navbar'); %>
		<section id="hero">
			<div class="bg-heroPatternMobile w-full h-full"></div>
		</section>
	</body>
</html>
