<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>BetterReads | user.nickname's Account</title>
		<%- include('../partials/head'); %>
	</head>
	<body>
		<%- include('../partials/readerNav'); %>
		<main class="flex flex-col grow">
			<h1 class="text-3xl p-3 text-center font-dm">My Account</h1>
			<div class="flex flex-col mb-5 px-3 gap-1">
				<p class="md:text-lg">
					<span class="font-bold pr-3">Email:</span> reader.email
				</p>
				<p class="md:text-lg">
					<span class="font-bold pr-3">Nickname:</span> reader.nickname
				</p>
				<p class="md:text-lg">
					<span class="font-bold pr-3">Fun Fact:</span> reader.funFact
				</p>
			</div>
			<h2 class="text-2xl p-3">Update my account</h2>
			<div class="flex flex-col w-full gap-5">
				<form
					action="/reader/update_reader"
					method="update"
					id="updateReader"
					class="flex flex-col gap-3 px-3 mb-5 md:w-[400px]">
					<div class="flex justify-between items-center">
						<label for="readerEmail" class="font-bold pr-3 md:text-lg"
							>New Email:
						</label>
						<input
							type="email"
							name="email"
							id="readerEmail"
							class="h-10 text-center rounded-full text-lg" />
					</div>
					<div class="flex justify-between items-center">
						<label for="readerFirst" class="font-bold pr-3 md:text-lg"
							>New Nickname:
						</label>
						<input
							type="text"
							name="nickname"
							id="readerFirst"
							class="h-10 text-center rounded-full text-lg"
							required />
					</div>
					<div class="flex justify-between items-center">
						<label for="readerFact" class="font-bold pr-3 md:text-lg"
							>New Fun Fact:
						</label>
						<input
							type="textarea"
							form="updateReader"
							name="funFact"
							id="readerFact"
							class="text-lg h-10 text-center rounded-full" />
					</div>
					<input
						type="submit"
						name="submit"
						value="Update Account"
						class="block text-lg bg-textPurple text-backgroundPurple w-40 rounded-full cursor-pointer font-quick md:mt-5" />
				</form>
			</div>
			<h2 class="text-2xl p-3">Update my password</h2>
			<div class="flex flex-col w-full gap-5">
				<form
					action=""
					method="update"
					class="flex flex-col gap-3 px-3 mb-5 md:w-[400px]">
					<div class="flex justify-between items-center">
						<label for="readerOldPassword" class="font-bold pr-3 md:text-lg"
							>Current Password:</label
						>
						<input
							type="password"
							name="password"
							id="readerOldPassword"
							class="h-10 rounded-full text-lg text-center" />
					</div>
					<div class="flex justify-between items-center">
						<label for="readerNewPassword" class="font-bold pr-3 md:text-lg"
							>New Password:</label
						>
						<input
							type="password"
							name="password"
							id="readerNewPassword"
							class="h-10 rounded-full text-lg text-center" />
					</div>
					<input
						type="submit"
						name="submit"
						value="Update Password"
						class="block text-lg bg-textPurple text-backgroundPurple w-48 rounded-full cursor-pointer font-quick md:mt-5" />
				</form>
			</div>

			<div class="p-3">
				<div class="flex items-center text-2xl">
					<span class="material-symbols-outlined"> warning </span>
					<h2 class="text-2xl p-3 font-bold">DANGER ZONE</h2>
					<span class="material-symbols-outlined"> warning </span>
				</div>
				<p>To delete your account, please type your password below.</p>
				<p class="font-bold">YOU CANNOT UNDO THIS ACTION!</p>
				<form action="" method="delete" class="my-3 md:w-[400px]">
					<div class="flex justify-between items-center">
						<label for="readerDelPassword" class="font-bold pr-3 md:text-lg"
							>Password:</label
						>
						<input
							type="password"
							name="password"
							id="readerDelPassword"
							class="h-10 rounded-full text-lg text-center" />
					</div>
					<input
						type="submit"
						name="submit"
						value="DELETE ACCOUNT"
						class="block text-lg bg-textPurple text-backgroundPurple w-48 rounded-full cursor-pointer font-quick mt-3 font-bold" />
				</form>
			</div>
		</main>
		<%- include('../partials/readerFooter'); %>
	</body>
</html>
